lexical_profile_cluster_kmodes_1.pdf
lexical_profile_cluster_kmodes_2.pdf
lexical_profile_cluster_kmodes_3.pdf
lexical_profile_cluster_kmodes_4.pdf
occurence_kmodes_1_n50_common.pdf
occurence_kmodes_2_n50_common.pdf
occurence_kmodes_3_n50_common.pdf
occurence_kmodes_4_n50_common.pdf
occurences_kmodes_1_n10.pdf
occurences_kmodes_1_n100.pdf
occurences_kmodes_1_n15.pdf
occurences_kmodes_1_n20.pdf
occurences_kmodes_1_n200.pdf
occurences_kmodes_1_n25.pdf
occurences_kmodes_1_n30.pdf
occurences_kmodes_1_n5.pdf
occurences_kmodes_1_n50.pdf
occurences_kmodes_1_n7.pdf
occurences_kmodes_2_n10.pdf
occurences_kmodes_2_n100.pdf
occurences_kmodes_2_n15.pdf
occurences_kmodes_2_n20.pdf
occurences_kmodes_2_n200.pdf
occurences_kmodes_2_n25.pdf
occurences_kmodes_2_n30.pdf
occurences_kmodes_2_n5.pdf
occurences_kmodes_2_n50.pdf
occurences_kmodes_2_n7.pdf
occurences_kmodes_3_n10.pdf
occurences_kmodes_3_n100.pdf
occurences_kmodes_3_n15.pdf
occurences_kmodes_3_n20.pdf
occurences_kmodes_3_n200.pdf
occurences_kmodes_3_n25.pdf
occurences_kmodes_3_n30.pdf
occurences_kmodes_3_n5.pdf
occurences_kmodes_3_n50.pdf
occurences_kmodes_3_n7.pdf
occurences_kmodes_4_n10.pdf
occurences_kmodes_4_n100.pdf
occurences_kmodes_4_n15.pdf
occurences_kmodes_4_n20.pdf
occurences_kmodes_4_n200.pdf
occurences_kmodes_4_n25.pdf
occurences_kmodes_4_n30.pdf
occurences_kmodes_4_n5.pdf
occurences_kmodes_4_n50.pdf
occurences_kmodes_4_n7.pdf
